body {
  background-image: url(https://source.unsplash.com/1920x1080/?gradient);

  /* background-image: url(https://source.unsplash.com/random/1920x1080); */
  /* background-image: url(./images/Spectrum-Gradient.svg); */
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  margin: 0;
  font-family: "Comfortaa", cursive;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  margin-left: 150px;
  margin-right: 150px;
  column-gap: 30px;
  row-gap: 30px;
  height: 100vh;
}
.logo {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff5e;
}
.stats {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
  font-size: 1.3rem;
  align-items: center;
  margin: auto;
  font-weight: 600;
  background-color: #ffffff75;
  border-radius: 1rem;
  padding: 0.5rem;
}
.box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 13px 50px;
  box-shadow: 0 0.5em 1em rgba(76, 78, 97, 0.2);
  background-color: #ffffff23;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  justify-content: center;
  padding: 5px;
  border-top: 4px solid #45d3d3;
  /* border-radius?: 7px; */
}
.box:hover {
  background-color: #ffffff75;
  box-shadow: 0 0.75em 1em rgba(0, 0, 0, 0.747);
  /* font-size: larger; */
  /* border-top: 2px solid rgba(8, 1, 1, 0.664); */
}

a {
  text-decoration: none;
  color: inherit;
}
.first {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
  /* border-top: 4px solid #45d3d3; */
}
.second {
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
  /* border-top: 4px solid #ea5353; */
}
.third {
  grid-column: 5 / span 2;
  grid-row: 4 / span 2;
  /* border-top: 4px solid #fcaf4a; */
}
.fourth {
  grid-column: 7 / span 2;
  grid-row: 4 / span 2;
  /* border-top: 4px solid #549ef2; */
}
.fifth {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
  /* border-top: 4px solid #549ef2; */
}
.sixth {
  grid-column: 3 / span 2;
  grid-row: 6 / span 2;
  /* border-top: 4px solid #fcaf4a; */
}
.seventh {
  grid-column: 5 / span 2;
  grid-row: 6 / span 2;
  /* border-top: 4px solid #ea5353; */
}
.eighth {
  grid-column: 7 / span 2;
  grid-row: 6 / span 2;
  /* border-top: 4px solid #45d3d3; */
}
.letter {
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 70px;
  color: white;
  line-height: 1;
  font-family: "hobeaux-rococeaux-background", Helvetica;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease;
}
